# Banco de dados (PostgreSQL)
DATABASE_URL=
DIRECT_URL=

# Autenticacao (JWT)
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Servicos externos (opcional)
VIACEP_BASE_URL=https://viacep.com.br/ws

# Cron
CRON_SECRET=

# App
NEXT_PUBLIC_APP_URL=
